@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
   
    min-height: 100vh;
    background: var(--bg-fundo);
     --bg-fundo: #323232;
    --bg-divs: #5e6064;
    --texto: #ffb800;
    --bg-bolinha: #e9a800;
    --box-shadow: #46484b;
}

.claro{
    --bg-fundo: #B4BCC3;
   --bg-divs: #C1C6CE;
    --bg-bolinha: #ffffff;
    --box-shadow: #a4acc6;
    --texto:#000000;
}


#paragraph{
    color: #949494;
    margin-top: -7px;
}
.result-details{
    color: white;
}
::selection {
    color: #fff;
    background: #007acc;
}
.wrapper {
    width: 80%;
    padding: 35px;
    align-items: center;
    justify-content: center

}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text p span {
    position: relative;
}
.typing-text p span.correct {
    color: var(--texto);
}
.typing-text p span.incorrect {
    color: #ca4754;
    border-radius: 4px;
}
/* .typing-text p span.active {
    color: #17A2B8;
} */
.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #007acc;
    animation: blink 60 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.content-box{
    margin-top: 20%;
    margin-left: 13%;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
}
.result-details{
    width: 100%;
    display: flex;
    
}
.infos{
   
/* Frame 30 */
position: absolute;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 19px;
gap: 30px;
background: var(--bg-divs);
width: 90%;
height: 85px;
margin-left: 4%;
margin-top: 1%;


border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
/* Frame 30 */

/* Auto layout */
display: flex;

flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 19px;
gap: 30px;

width: 1470px;
height: 85px;

background: var(--bg-divs);
box-shadow: 10px 10px 0px var(--box-shadow);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
width: 90%;
height: 85px;
}
.mistake{
    margin-left: 3%;
}
.time{
    white-space: nowrap;
    
    width: 155px;
height: 65px;
background: var(--bg-divs);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 75%;





}
.tim{
    top: 24px;
     margin-left: -45px;   
    position: absolute;
    font-size: 30px
}
.tim-img{
    position: absolute;
    top: 29px;
    width: 34px;
    height: 34px;
    margin-left: 10px;    
    
}
.wpm{
    margin-left: 5%;
}
.conif{
    position: absolute;
    margin-left: 77%;
    margin-top: -1.24%;
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    width: 100%;
    height: 20%;
    
    background: var(--bg-divs);
    box-shadow: 10px 10px 2px var(--box-shadow);
    border-radius: 10px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
    margin-top: 12%;


}
.teclado{
    width: 80px;
}
section{
    position: absolute;
    margin-top: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
    
    width: 80%;
    height: 40%;
    
  
    
}
  
  ion-icon {
    font-size: 26px;
    --ionicon-stroke-width: 26px;
  }
  
  
  :root {
    --text-color: #1d1d1d;
    --keycap-color: #dcdcdc;
    --keycap-border-color: #49494940;
  
    --keyboard-bg-color: #5a5a5a6b;
  }
  
  .container_kb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 12px;
    width:100%;
    height: 100%;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--bg-divs);
    margin-left: 20%;
    margin-top: 5%;
    

  }
  
  .line-keys {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }
  
  .keycaps {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  
    padding: 6px;
    border-radius: 10px;
    border: solid 1px var(--text-color);
    background-color: var(--keycap-color);
    box-shadow: 2px 0px 0px 2px var(--keycap-border-color);
  }
  
  .alert-capslock {
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 26%;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(196, 1, 1);
  }
  .alert-capslock::after {
    content: 'Caps lock ativo!';
  }
  
  .letter-keys {
    width: 50px;
    height: 50px;
  }
  .other-keys {
    width: 100px;
    height: 50px;
  }
  
  .space-key {
    width: 350px;
    height: 50px;
  }
  
  .active-keycap {
    color: var(--keycap-color);
    background-color: var(--text-color);
  }
  
  .uppercase {
    text-transform: uppercase;
  }

.menu{
    display: none;
    position: absolute;
    margin-top: 8%;
    background-color: var(--bg-fundo);
    margin-top: -60%;
    margin-left: 100%;
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
  }

.settings {
    border-radius: 100%;
    padding: 1.5%;
    margin: 3%;
    background-color: var(--bg-divs);
}

  .toggle {
    cursor: pointer;
   
    position: absolute;
    flex-direction: row;
 
  }
  
  .toggle-switch {
    background: #ccc;
    border-radius: 16px;
    width: 34px;
    height: 23px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    /* Frame 2 */
  
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  width: 60px;
  height: 32px;
  
  /* roxo 1 */
  
  background: var(--bg-fundo);
  border-radius: 10px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8.5px;
    left: 8.5px;
    transition: left 0.25s;
    
  
  
  /* roxo 5 */
  
  background: var(--bg-bolinha);
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  
  
  .toggle-checkbox:checked + .toggle-switch {
    background-color: var(--bg-fundo);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 35px;
    background-color: var(--bg-bolinha);
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .tema{
      color: white;
      position: relative;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-divs);
      margin-left: 10%;
      margin-right: 10%;
      padding: 4%;
      gap: 25%;
      border-radius: 15px;
  }
  
  .som{
      color: white;
      margin-top: 80%;
      flex-direction: row;
      width: 20vw;
      height: 7.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-divs);
      margin-left: 10%;
      margin-right: 10%;
      padding: 4%;
      gap: 25%;
      border-radius: 15px;
  }
  .config.active .menu {
    display: block;
    margin-right: 2%;
}
.img{
    align-items: center;
    justify-content: center;
    margin-top: -10px; 
}